<div class="row">
  <div class="col-lg-10 offset-lg-2">
    <h1>Editing House</h1>
  </div>
</div>

<%= render 'form', house: @house %>

<div class="row">
  <div class="col-lg-10 offset-lg-2">
    <%= link_to 'Show', @house %> |
    <%= link_to 'Back', @house %>
  </div>
</div>
