<div class="row">
  <div class="col-lg-10 offset-lg-2">
    <h1>Editing Chore</h1>
  </div>
</div>

<%= render 'form', chore: @chore %>

<div class="row">
  <div class="col-lg-10 offset-lg-2">
    <%= link_to 'Show', @chore %> |
    <%= link_to 'Back', @house %>
  </div>
</div>
